<main class="inicio-landing">

  <!-- NOVEDADES -->
  <section class="inicio-novedades">
    <h1 class="inicio-title">NOVEDADES</h1>
  </section>

  <!-- NUEVA CARTA (imagen al lado) s-->
  <section class="inicio-section carta-flex">
    <img class="inicio-img" src="imagenes/home/plato_carta.jpg" alt="Imagen de carta">
    <div class="inicio-content no-bg">
      <h2 class="inicio-subtitle">¡Descubre nuestra nueva carta!</h2>
      <p>Platos elaborados con ingredientes frescos y el mejor sabor. ¡Te sorprenderán!</p>
      <button class="inicio-btn" routerLink="/carta">VER LA CARTA</button>
    </div>
  </section>

  <!-- PEDIR ONLINE (fondo con transición suave) -->
<section class="inicio-section pedir-bg">
  <div class="inicio-content no-bg">
    <h2 class="inicio-subtitle">¡Ordena fácil y rápido!</h2>
    <p>Haz tu pedido en línea y recíbelo en tu puerta o listo para llevar.</p>
    <button class="inicio-btn" routerLink="/pedir">¡PIDE AHORA!</button>
  </div>
</section>

  <!-- VISÍTANOS -->
  <section class="inicio-section visita-section">
    <img src="imagenes/home/pizza2.png" alt="Pizza flotante" class="pizza-flotante pizza-derecha">
    <img src="imagenes/home/albahaca.png" alt="Albahaca flotante" class="pizza-flotante pizza-izquierda">
    <div class="inicio-content no-bg">
      
      <h2 class="inicio-subtitle visita-title">
  <span class="material-icons visita-icon">location_on</span>
  ¡Ven a disfrutar con nosotros!
</h2>
      <p>Visítanos en L’Essenza y vive una experiencia única.</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317193.22496740746!2d12.372073943171212!3d41.90278349995716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f6194e887a8c9%3A0x7b5383dc2b6933f!2sRoma%2C%20Italia!5e0!3m2!1ses!2ses!4v1713191850431!5m2!1ses!2ses"
        width="100%" height="180" style="border:0;" loading="lazy"></iframe>
      <div class="contacto-info">
        <div><span class="material-icons">call</span> <a href="tel:6666666">6666666</a></div>
        <div><span class="material-icons">mail</span> <a href="mailto:lessenzaoficial2025@gmail.com">lessenzaoficial2025&#64;gmail.com</a></div>
      </div>
      <button class="inicio-btn" routerLink="/conocenos">¡CONÓCENOS!</button>
    </div>
  </section>
</main>