/* Estilos globales */
html, body {
  
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Fuente base */
  color: var(--dark-gray);
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-color: var(--dark-gray) transparent;
  background-color: black;
}
  
  :root {
    --primary-red: #B81426; /* Rojo dominante */
    --gold: #D4AF37; /* Dorado */
    --light-gold: #F9E4B7; /* Dorado claro */
    --white: white; /* Blanco */
    --dark-gray: #333; /* Gris oscuro */
    --shadow: rgba(0, 0, 0, 0.2);
    --glass-bg: rgba(32, 18, 18, 0.93);
    --input-bg: #fffbe9;
    --input-text: #2d1a1a;
    --italy-green: #009246;
    --italy-white: #fff;
    --italy-red: #ce2b37;

  }
  
  /* Tipografía global */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    color: var(--primary-red);
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: var(--gold);
  }
  
  button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border: none;
    outline: none;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px var(--shadow);
  }

  /* Imágenes globales */
  img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }

.mat-mdc-snack-bar-container {
  background-color: #323232;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.mat-mdc-snack-bar-label {
  font-size: 0.95rem;
  color: white;
}

.mat-mdc-snack-bar-action {
  all: unset;
  cursor: pointer;
  padding: 6px 8px;
  margin-left: 16px;
  color: red;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.mat-mdc-snack-bar-action:hover,
.mat-mdc-snack-bar-action:focus {
  background-color: rgba(255, 202, 40, 0.2);
  color: red;
  outline: none;
}

.mat-mdc-snack-bar-container:hover .mdc-button__label {
  color: red;
}

  /* Animaciones globales */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200%;
    }
    100% {
      background-position: 200%;
    }
  }